:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family-primary: 'Inter', serif;
  --bg-cover: rgb(0 0 0 / 60%);

  // borders

  --border-primary: 1px solid #eaeaea;

  // backgrounds

  --bg-primary: #fff;
  --bg-secondary: #fbfbfb;
  --bg-tertiary: #efefef;
  --bg-accent: #3369f3;

  // colors
  --primary-color: #1e1e1e;
  --accent-color: #3369f3;
  --secondary-color: #999;

  // text

  --text-primary-color: #1e1e1e;
  --text-invert-primary-color: white;
  --text-secondary-color: #999;
  --text-accent-color: #3369f3;
  --text-alert-color: #ff2f2f;

  // buttons

  --btn-primary-bg: #3369f3;
  --btn-primary-color: #fff;
  --btn-primary-border-rad: 8px;
  --shadow-primary: 0px 0px 6px 0px rgb(0 0 0 / 14%);

  // messages

  --message-bubble-bg: #f8f8f8;
  --my-message-bubble-bg: #E4EDFD;

  // fonts

  --fs-xxs: 8px;
  --fl-xxs: 16px;
  --font-xxs: var(--fs-xxs) / var(--fl-xxs) var(--font-family-primary);

  --fs-xs: 10px;
  --fl-xs: 18px;
  --font-xs: var(--fs-xs) / var(--fl-xs) var(--font-family-primary);

  --fs-s: 10px;
  --fl-s: 18px;
  --font-s: var(--fs-s) / var(--fl-s) var(--font-family-primary);

  --fs-base: 14px;
  --fl-base: 22px;
  --font-base: var(--fs-base) / var(--fl-base) var(--font-family-primary);

  --fs-m: 16px;
  --fl-m: 24px;
  --font-m: var(--fs-m) / var(--fl-m) var(--font-family-primary);

  --fs-l: 20px;
  --fl-l: 28px;
  --font-l: var(--fs-l) / var(--fl-l) var(--font-family-primary);
}
