.signUpForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 34rem;
  min-height: 46rem;
  padding: 5rem 3rem 3rem;
  border-radius: 1.2rem;
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);
  position: relative;

  .title {
    font: var(--font-l);
    font-weight: 500;
    color: var(--text-primary-color);
    margin: 0 auto 4rem;
  }
}

.btnSubmit {
  padding: 1.2rem;
  margin-top: 4.7rem;
  color: var(--btn-primary-color);
  background: var(--btn-primary-bg);
  border-radius: var(--btn-primary-border-rad);
}

.linkWrapper {
  margin: 1.4rem auto 0;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  a {
    font: var(--font-s);
    font-weight: 500;
    color: var(--accent-color);
  }
}

.error {
  margin-top: auto;
  text-align: center;
  color: var(--text-alert-color);
  position: absolute;
  bottom: 12rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;

  &.visible {
    display: inline-block;
  }
}
