.sign-in-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 340px;
  min-height: 460px;
  padding: 50px 30px 30px;

  border-radius: 12px;
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);

  .title {
    font: var(--font-l);
    font-weight: 500;
    color: var(--text-primary-color);
    margin: 0 auto 4rem;
  }
}

.field-input {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    position: absolute;
    color: var(--text-secondary-color);
    font: var(--font-base);

    top: 0;
    transition: all 0.2s;
  }

  input {
    font: var(--font-base);
    font-weight: 500;
    transition: all 0.2s;

    padding-bottom: 7px;

    border-bottom: 1px solid var(--accent-color);

    &:hover,
    &:hover + label {
      cursor: pointer;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: -17px;
      font: var(--font-s);
      font-weight: 500;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.btn-submit {
  padding: 12px;
  margin-top: auto;
  color: var(--btn-primary-color);
  background: var(--btn-primary-bg);
  border-radius: var(--btn-primary-border-rad);
}

.link-wrapper {
  margin: 1.4rem auto 0;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  a {
    font-weight: 500;
    font: var(--font-s);
    color: var(--accent-color);
  }
}
