.fieldInput {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    position: absolute;
    color: var(--text-secondary-color);
    font: var(--font-base);
    top: 0;
    transition: all 0.2s;
  }

  input {
    font: var(--font-base);
    font-weight: 500;
    transition: all 0.2s;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--accent-color);

    &:hover,
    &:hover + label {
      cursor: pointer;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: -17px;
      font: var(--font-s);
      font-weight: 500;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.inputError {
  margin-top: 0.7rem;
  font: var(--font-xxs);
  color: var(--text-alert-color);
}
