.button {
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid transparent;

  &.primary {
    color: black;
    background-color: transparent;
    border-color: black;
  }

  &.secondary {
    color: white;
    background-color: black;
  }

  &.success {
    color: black;
    background-color: rgb(91, 232, 98);
  }

  &.alert {
    color: black;
    background-color: rgb(232, 91, 91);
  }

  &.clean {
    padding: 0;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
