.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.error {
  margin-top: auto;
  text-align: center;
  color: var(--text-alert-color);
  width: 100%;
  display: inline-block;

  &.visible {
    display: inline-block;
  }
}

.actionSlot {
  display: flex;
  gap: 10px;
}
