.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
    max-width: 51rem;
  }
}

.fallback-user-avatar {
  width: 13rem;
  height: 13rem;
  color: #cdcdcd;
  background-color: var(--bg-tertiary);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 7rem 0 2.1rem;

  svg {
    width: 4rem;
    height: 4rem;
  }
}

.profile-name {
  font: var(--font-m);
  font-weight: 600;

  margin-bottom: 6rem;
}

.profile-info-list {
  margin-bottom: 6rem;

  .item-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    gap: 1rem;

    input {
      background: transparent;
      text-align: right;
      flex: 1;
    }

    & > input:last-of-type {
      color: var(--text-secondary-color);
    }

    font: var(--font-m);

    &:not(:last-of-type) {
      border-bottom: var(--border-primary);
      margin-bottom: 1rem;
    }
  }
}

.profile-actions-list {
  .item-list {
    padding-bottom: 1rem;

    button {
      font: var(--font-m);
      font-weight: 600;
      color: var(--text-accent-color);
    }

    &:not(:last-of-type) {
      border-bottom: var(--border-primary);
      margin-bottom: 1rem;
    }

    &:last-of-type {
      button {
        color: #ff0000;
      }
    }
  }
}
