.code-error,
.description,
.wrapper-link {
  text-align: center;
}

.code-error {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.description {
  font: var(--font-l);
  margin-bottom: 7rem;
}

.wrapper-link {
  color: var(--accent-color);
  font: var(--font-m);
  cursor: pointer;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }
}
