.leftPanel {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 31rem;
}

.title {
  font: var(--font-m);
  font-weight: 600;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 5.5rem;
  padding: 1.1rem 0;
  margin-bottom: 0.4rem;
  position: relative;
}

.searchChats {
  margin: 0 1rem;
}

.chatList {
  padding: 0 1rem;
}

.chatListItem {
  padding: 1.2rem 0;
  font: var(--font-m);
  border-top: var(--border-primary);
}

.inpSearchChats {
  padding: 0.8rem 1rem;
  background: var(--bg-tertiary);
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
}

.btnEdit {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
