.sign-up-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 34rem;
  min-height: 46rem;
  padding: 5rem 3rem 3rem;

  border-radius: 1.2rem;
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);

  .title {
    font: var(--font-l);
    font-weight: 500;
    color: var(--text-primary-color);
    margin: 0 auto 4rem;
  }
}

.field-input {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    position: absolute;
    color: var(--text-secondary-color);
    font: var(--font-base);

    top: 0;
    transition: all 0.2s;
  }

  input {
    font: var(--font-base);
    font-weight: 500;
    transition: all 0.2s;

    padding-bottom: 7px;

    border-bottom: 1px solid var(--accent-color);

    &:hover,
    &:hover + label {
      cursor: pointer;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: -1.7rem;
      font: var(--font-s);
      font-weight: 500;
    }
  }

  &.error {
    input {
      color: var(--text-alert-color);
    }
  }

  .input-error {
    margin-top: 0.7rem;
    font: var(--font-xxs);
    color: var(--text-alert-color);
  }

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

.btn-submit {
  padding: 1.2rem;
  margin-top: 4.7rem;
  color: var(--btn-primary-color);
  background: var(--btn-primary-bg);
  border-radius: var(--btn-primary-border-rad);
}

.link-wrapper {
  margin: 1.4rem auto 0;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  a {
    font-weight: 500;
    font: var(--font-s);
    color: var(--accent-color);
  }
}
