.item {
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  border-radius: 12px;

  transition: opacity .2s;

  &:hover {
    cursor: pointer;
    opacity: 0.4;
  }
}
