{{! TODO: после проверки этот файл будет удален т.к он нужен просто для проверки страниц }}
<nav class="test-pages">
  <ul>
    <li>
      <a href="/pages/home/index.html">Главная</a>
    </li>
    <li><a href="/pages/sign-in/index.html">Авторизация</a></li>
    <li><a href="/pages/sign-up/index.html">Регистрация</a></li>
    <li><a href="/pages/profile/index.html">Профиль</a></li>
    <li><a href="/pages/500/index.html">500</a></li>
    <li><a href="/pages/404/index.html">404</a></li>
  </ul>
</nav>
