<div class="test-pages">
  <a href="http://localhost:5173/pages/main/index.html">Главная</a>
  <a href="http://localhost:5173/pages/sign-in/index.html">Авторизация</a>
  <a href="http://localhost:5173/pages/sign-up/index.html">Регистрация</a>
  <a href="http://localhost:5173/pages/profile/index.html">Профиль</a>
  <a href="http://localhost:5173/pages/500/index.html">500</a>
  <a href="http://localhost:5173/pages/404/index.html">404</a>
</div>