<div class="test-pages">
  <a href="/pages/main/index.html">Главная</a>
  <a href="/pages/sign-in/index.html">Авторизация</a>
  <a href="/pages/sign-up/index.html">Регистрация</a>
  <a href="/pages/profile/index.html">Профиль</a>
  <a href="/pages/500/index.html">500</a>
  <a href="/pages/404/index.html">404</a>
</div>