.navbar {
  display: grid;
  place-items: center;
  height: 5.5rem;
  margin-top: auto;
  border-top: var(--border-primary);
  background: var(--bg-tertiary);

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    color: var(--secondary-color);
    width: 100%;

    .nav-list-item {
      transition: opacity 0.2s;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }

      a {
        color: var(--text-secondary-color);
      }

      .nav-icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
