.fieldInput {
  display: flex;
  flex-direction: column;
  position: relative;

  .label {
    color: var(--text-secondary-color);
    font: var(--font-base);
    margin-bottom: 2px;
  }

  .input {
    font: var(--font-base);
    font-weight: 500;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
  }

  .error {
    font: var(--font-xxs);
    color: var(--text-alert-color);
    position: absolute;
    bottom: -18px;
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
